/* about us section styles start */
.about-us-left-side {
  background-color: #e4e4e4;
  padding: 20px;
  /* margin-top: 94px; */
  float: left;
}
.about-us-left-side h4 {
  border-bottom: 1px solid #b1b1b1;
  padding-bottom: 15px;
  font-size: 15px;
  color: rgb(63, 62, 62);
}
.about-us-left-side p {
  padding: 25px;
  font-size: 12px;
  line-height: 19px;
  color: rgb(63, 62, 62);
  text-align: left;
}
.about-us-left-side a {
  font-size: 10px;
  transition: 0.2s ease;
}
.about-us-left-side a:hover {
  border-radius: 0px 10px 0px 10px;
}
@media screen and (max-width: 1000px) {
  .about-us-right-side {
    display: none;
  }
  .about-us-left-side {
    margin-top: 0px;
  }
  .about-us-left-side .col-xs-12,
  .col-s-12,
  .col-md-12 {
    width: 100%;
  }
}
