.faq-section-bg {
  background-image: url(../img/faq-bg.jpg);
  min-height: 500px;
  display: flex;
  background-repeat: no-repeat;
}
.faq-section-wrapper .faq-left-side {
  box-shadow: 1px 5px 15px 2px rgba(68, 102, 242, 0.05) !important;
  background-color: #f0f0f0;
  padding: 50px;
  margin-top: 75px;
}
.faq-section-wrapper .faq-left-side h6 {
  font-size: 20px;
}
.faq-section-wrapper .faq-left-side h6 i {
  color: burlywood;
  font-size: 30px;
  font-weight: bolder;
  margin-right: 10px;
  vertical-align: -4px;
}
.faq-section-wrapper .faq-left-side p {
  font-size: 14px;
  margin: 20px 10px 0px 0px;
  color: rgb(63, 62, 62);
}
.faq-section-wrapper .faq-right-side .tabs {
  /* border-radius: 10px; */
  overflow: hidden;
  box-shadow: 1px 5px 15px 2px rgba(68, 102, 242, 0.05) !important;
  /* background-color: #4b234b; */
}
.faq-section-wrapper .faq-right-side .tab {
  color: #fff;
  overflow: hidden;
}
.faq-section-wrapper .faq-right-side .tab-lable {
  padding: 13px;
  background-color: burlywood;
  width: 100%;
  cursor: pointer;
  display: block;
  font-size: 18px;
  transition: 0.5s ease;
}
.faq-section-wrapper .faq-right-side .tab-lable:hover {
  background-color: rgb(146, 120, 88);
}
.faq-section-wrapper .faq-right-side .tab-lable::after {
  content: "\276f";
  /* width: 16px;
  height: 16px; */
  text-align: center;
  transition: 0.4s;
  float: right;
  padding: 2px 0 0 0;
  /* background-color: #000; */
}
.faq-section-wrapper .faq-right-side .tab-content {
  height: 0px;
  transition: 0.5s ease;
  background-color: #fff;
  color: #2c2c2c;
  font-size: 16px;
}
.faq-section-wrapper .faq-right-side input:checked ~ .tab-content {
  height: 100px;
  padding: 15px;
  overflow-y: scroll;
}
.faq-section-wrapper .faq-right-side input:checked + .tab-lable::after {
  transform: rotate(90deg);
}
.faq-section-wrapper .faq-right-side input {
  display: none;
}
.faq-section-wrapper .faq-right-side {
  margin-top: 75px;
}
