.stat-section-wrapper {
  background-color: burlywood;
  height: 250px;
}
.stat-section-wrapper img {
  margin-top: 40px;
}
.stat-section-wrapper .count {
  margin-top: 30px;
  color: #fff;
  font: 20px;
}
.stat-section-wrapper .count-title {
  margin-top: 30px;
}
@media screen and (max-width: 1000px) {
  .stat-section-wrapper {
    height: 860px;
  }
}
